*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.todo-body{
    border: 1px solid;
    margin:0 auto;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list-item li{
    display: inline-block;
    margin: 20px;
    padding: 0 5px;
}
.completed{
    text-decoration: line-through;
}